.container {
    display: flex;
  }
  
  .sidebar {
    height: 100vh; /* Set the height to 100vh */
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .sidebar-nav {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .sidebar-nav li a:hover {
    background-color: #c1c1c1;
  }
  
  .sidebar-nav li.active a {
    background-color: #007bff;
    color: #fff;
  }

  .sidebar ul ul {
    display: none;
    background-color: #f3f3f3;
    padding: 0;
  }
  
  .sidebar li:hover > ul {
    display: block;
  }
  
  .sidebar ul ul li {
    padding: 10px;
  }
  
  .sidebar ul ul li:hover {
    background-color: #e6e6e6;
  }
  
  .sidebar ul ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .sidebar ul ul li a:hover {
    color: #000;
  }  
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  