.input-field {
    padding: 8px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    margin: 10px 10px;
    font-size: 14px;
}

.input-field::placeholder {
    color: #a1a1a1;
}

.input-field:focus {
    outline: none;
    border-color: #3366ff;
    box-shadow: 0 0 3px #3366ff;
}